---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Tags from "../../components/Tags.astro";
import { formatDate } from "../../utils/dateHelpers";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <article>
    <h1>{entry.data.title}</h1>

    <div>
      <em>
        <time datetime={new Date(entry.data.publishedAt).toISOString()}>
          {formatDate(entry.data.publishedAt)}
        </time>
      </em>
      <Tags tags={entry.data.tags} path={(tag) => `/blog/tags/${tag}`} />
    </div>

    <div>
      <Content />
    </div>

    <nav aria-label="Blog navigation">
      <a href="/blog">Back to Blog</a>
      |
      <a href="#top">Top</a>
      |
      <a
        href={`https://github.com/cb341/cb341.github.io/blob/main/src/content/blog/${entry.slug}.md`}
      >
        View on GitHub
      </a>
    </nav>
  </article>
</BaseLayout>
