---
import { formatDate } from "../utils/dateHelpers";

const { post } = Astro.props;
---

<article>
  <h3>
    <a
      href={`/blog/${post.slug}`}
      aria-label={`Read blog post: ${post.data.title}`}
    >
      {post.data.title}
    </a>
  </h3>

  <div>
    <em>
      Published on <time datetime={post.data.publishedAt.toISOString()}>
        {formatDate(post.data.publishedAt)}
      </time>
    </em>
  </div>

  <p>{post.data.description}</p>
</article>
