---
interface Props {
  tags: string[];
  path: (tag: string) => string;
  taggedCount?: (tag: string) => number;
  activeTag?: string;
}

const { tags, path, taggedCount, activeTag } = Astro.props;
---

{
  tags && tags.length > 0 && (
    <ul role="group" aria-label="Tags">
      {tags.map((tag) => (
        <li>
          <a
            href={path(tag)}
            aria-label={`View posts tagged with ${tag}`}
            aria-current={activeTag === tag ? "page" : undefined}
          >
            {tag}
            {taggedCount && (
              <small aria-label={`${taggedCount(tag)} posts`}>
                ({taggedCount(tag)})
              </small>
            )}
          </a>
        </li>
      ))}
    </ul>
  )
}
