---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogTagList from "../../../components/BlogTagList.astro";
import { formatDate } from "../../../utils/dateHelpers";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blog");
  const postTags = allBlogPosts.map((post) => post.data.tags).flat();
  const uniquePostTags = [...new Set(postTags)];

  return uniquePostTags.map((tag) => {
    const taggedBlogPosts = allBlogPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { taggedBlogPosts },
    };
  });
}

const { tag } = Astro.params;
const { taggedBlogPosts } = Astro.props;
---

<BaseLayout title={`Posts tagged with ${tag}`}>
  <h1>Posts tagged with "{tag}"</h1>

  <BlogTagList activeTag={tag} />

  <section>
    {
      taggedBlogPosts.map((post) => (
        <article>
          <h2>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </h2>
          <div class="meta">
            <em>
              <time datetime={new Date(post.data.publishedAt).toISOString()}>
                {formatDate(post.data.publishedAt)}
              </time>
            </em>
          </div>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </section>

  <nav class="nav-links" aria-label="Blog navigation">
    <a href="/blog">Back to Blog</a>
  </nav>
</BaseLayout>
